<template>
    <div role="tabpanel" :aria-hidden="!isActive" v-show="isActive">
        <slot></slot>
    </div>
</template>

<script>
export default {
  name: "tab",
  inject: ["activeTab", "setActiveTab"],
  props: {
    label: {
      type: String
    },
    id: {
      type: String,
      default: null
    },
    selected: {
      default: false,
      type: Boolean
    }
  },

  computed: {
    isActive() {
      return this.activeTab() === this.id;
    }
  },

  created() {
    if (!this.id) {
      this.id = this._uid;
    }

    if (this.selected) {
      this.setActiveTab(this.id);
    }
  }
};
</script>
